/.ConfigureEclipseWithCodeCheckingPlugingsFeature.java._trace
/.ConfigureEclipseWithCodeQualityPlugingsFeature.java._trace
/.ConfigureEclipseWithCodeQualityPlugingsFeatureEnsureTheBuildToolsProjectExists.java._trace
/.ConfigureEclipseWithCodeQualityPlugingsFeatureBackground.java._trace
/.ConfigureEclipseWithCodeQualityPlugingsFeatureEnsureTheBuildToolsProjectExistsAndTheFilesRequiredToConfigureEclipseIsAvailable.java._trace
/.ConfigureEclipseWithCodeQualityPluginsFeature.java._trace
/.ConfigureEclipseWithCodeQualityPluginsFeatureEnsureTheBuildToolsProjectExistsAndTheFilesRequiredToConfigureEclipseIsAvailable.java._trace
/.ConfigureEclipseWithCodeQualityPluginsFeatureBackground.java._trace
/.ConfigureEclipseWithCodeQualityPluginsFeatureConfigureEclipseWithCheckstyle.java._trace
/ConfigureEclipseWithCodeQualityPluginsFeature.java
/ConfigureEclipseWithCodeQualityPluginsFeatureBackground.java
/ConfigureEclipseWithCodeQualityPluginsFeatureConfigureEclipseWithCheckstyle.java
/ConfigureEclipseWithCodeQualityPluginsFeatureEnsureTheBuildToolsProjectExistsAndTheFilesRequiredToConfigureEclipseIsAvailable.java
/.ConfigureEclipseWithCodeQualityPluginsFeatureConfigureEclipseWithPMD.java._trace
/.ConfigureEclipseWithCodeQualityPluginsFeatureConfigureEclipseWithConfiguredCodeCeanupXml.java._trace
/ConfigureEclipseWithCodeQualityPluginsFeatureConfigureEclipseWithConfiguredCodeCeanupXml.java
/ConfigureEclipseWithCodeQualityPluginsFeatureConfigureEclipseWithPMD.java
/.ConfigureEclipseWithCodeQualityPluginsFeatureConfigureEclipseWithObjectiumCodeCeanupStrategy.java._trace
/.ConfigureEclipseWithCodeQualityPluginsFeatureConfigureEclipseWithObjectiumCodeFormatStrategy.java._trace
/.SetupContinuesIntegrationEnvironmentFeature.java._trace
/.SetupContinuesIntegrationEnvironmentFeatureContinuesIntegrationEnvironmentIsUpAndRunning.java._trace
/.SetupContinuesIntegrationEnvironmentFeatureContinuesIntegrationJobForMainApplicatonBuildIsAvailable.java._trace
/.SetupContinuesIntegrationEnvironmentFeatureContinuesIntegratoinJobForTestAndDeploymentIsAvailable.java._trace
/.SetupContinuesIntegrationEnvironmentFeatureWeWillConsiderTeFollowingScenariosToEnsureContinuesIntegrationEnvironmentIsSetupCorrectly.java._trace
/.SetupContinuesIntegrationEnvironmentFeatureContinuesIntegrationJobForMainApplicatonBuildIsAvailablel.java._trace
